body {
  padding: 10px;
  margin: 10px;
  background-color: #aaaaaa;
}

h1 {
  font-family: 'Courier New', monospace;
}

h2 {
  font-family: 'Courier New', monospace;
}

h3 {
  font-family: 'Courier New', monospace;
}

p {
  font-family: 'Noto Sans', sans-serif;
}

img {
  padding: 10px;
  margin: 10px;
}
