body {
  padding: 0px;
  margin: 10px;
  background-color: rgb(220, 20, 60);
  color: whitesmoke;
  font-family: Tahoma, Verdana, sans-serif;
}

h2 {
  text-align: center;
}

#input {
  padding: 10px;
  margin: 0px;
  background-color: whitesmoke;

  /*border*/
  border: 0px solid;
  border-radius: 5px;

  /*positioning*/
  position: absolute;
  top: 80px;
  left: 2vw;
  height: 80vh;
  width: 45vw;

  /*attributes*/
  resize: none;
}

#output {
  padding: 10px;
  margin: 0px;
  background-color: rgb(255, 100, 120);

  /*border*/
  border: 0px solid;
  border-radius: 5px;

  /*positioning*/
  position: absolute;
  top: 80px;
  right: 2vw;
  height: 80vh;
  width: 45vw;

  /*attributes*/
  overflow-wrap: break-word;
}
